body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    border: 3px solid black;
}


.cell {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
}

.cell.filled {
    background-color: lightgray;
    font-weight: bold;
}

.cell.row-2, .cell.row-5 {
    border-bottom: 2px solid black;
}

.cell.col-2, .cell.col-5 {
    border-right: 2px solid black;
}
